BOT_TOKEN='8909392190:AAEwDH2UZvNFgGbS9At_1R0-rhtmkFXXLLs'
ADMIN_ID=8212106678  # Замените на свои
WORK_GROUP_ID=-1003912006663
LOG_GROUP_ID=-1003795261371
DATABASE_URL=sqlite+aiosqlite:///bot.db
UI_IMAGE_FILE_ID=AgACAgEAAxkBAAOaahPPUZBKSp1sMC7sD3jAci0G3HoAAroLaxuwtKFE3Aeu5ddMYMUBAAMCAAN4AAM7BA
